<div id="f_fz"></div>
<div id ="footer" class="box ui-widget-content ui-corner-all ui-helper-clearfix">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="f_t">
    <tr>
      <td height="25px" width="590px" style="padding-left:5px">Powered by 東方幻想鄉0.1</td>
      <td width="590px" height="25px" align="right"style="padding-right:5px">東方幻想鄉(黑ICP備09028990)| 聯繫我們 | 網站統計| 無圖版| wap</td>
    </tr>
    <tr>
      <td height="25px"  style="padding-left:5px">2011-2012 rz Inc.</td>
      <td height="25px" align="right" style="padding-right:5px">GMT+8,2012-2-17 15:14</td>
    </tr>
  </table>
</div>
