<div id="header">
      <div id="h2" class="ui-dialog-titlebar ui-widget-header ui-corner-all">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="h2_t">
          <tr>
            <td width="900px" ;>
            </td>
            <td width="50px" ; style="color:#000000">
              名字
            </td>
            <td width="50px" ; style="color:#000000">
              空間
            </td>
            <td width="50px" ; style="color:#000000">
              消息
            </td>
            <td width="50px" ; style="color:#000000">
              設置
            </td>
            <td width="50px" ; style="color:#000000">
              退出
            </td>
            <td width="50px" ; style="color:#000000">
            </td>
          </tr>
        </table>
      </div>
      <div id="h3">
        <div class="toggler">
          <div id="effect">
            <img src="css/xiaoting.png" />
          </div>
        </div>
      </div>
      <div class=" box ui-widget-content ui-corner-all ui-helper-clearfix">
        <div id="h4" class="ui-dialog-titlebar ui-widget-header ui-corner-all">
          <table border="0" cellspacing="0" cellpadding="0" id="tb1">
            <tr>
              <td width="80" align="right">
                論壇
              </td>
              <td width="80" align="right">
                小屋
              </td>
              <td width="80" align="right">
                搜索
              </td>
              <td width="80" align="right">
                幫助
              </td>
              <td width="80" align="right">
                導航
              </td>
              <td width="80" align="right">
                插件
              </td>
              <td width="400" align="right">
                &nbsp;
              </td>
              <td width="100">
                <label>
                  <input name="textfield" type="text" value="請輸入搜索內容 " />
                </label>
              </td>
              <td width="80" align="center">
                <input type="submit" name="Submit" value="搜索" />
              </td>
              <td width="80" align="center">
                <input type="submit" name="Submit2" value="高級搜索" />
              </td>
            </tr>
          </table>
        </div>
        <div id="h5">
          <table border="0" cellspacing="0" cellpadding="0" id="tb2">
            <tr>
              <td rowspan="2" width="80">
                <div id="dtx">
                  頭像
                </div>
              </td>
              <td width="700" height="28" style="padding-left:5px">
                歡迎回來XX
              </td>
              <td width="400" align="right" style="padding-right:10px">
                歡迎新會員
              </td>
            </tr>
            <tr>
              <td width="700" style="padding-left:5px">
                公告：
              </td>
              <td width="400" align="right" style="padding-right:10px">
                天氣
              </td>
            </tr>
          </table>
        </div>
        <div id="h6">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tb3">
            <tr>
              <td width="600" style="padding-left:15px">
                東方幻想鄉->幻想鄉溫泉
              </td>
              <td width="600" align="right" style="padding-right:20px">
                <select name="effects" id="effectTypes" style="visibility:hidden">
                  <option value="fade">
                    Drop
                  </option>
                </select>
                囧 囧 囧 囧
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>