<div id="navigation">
  <ul>
    <li class="menu_1"><%=link_to t('navi.forum'), :"boards", :hidefocus => true, :id => :mn_index %></li>
    <li class="menu_1"><%=link_to t('navi.forum'), :controller => :boards, :action => :index, :hidefocus => true, :id => :mn_index %></li>
  </ul>
</div>