<div id="search">
<%= form_tag topics_path do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag t("search.search"), id: "search_submit" %>
  <%= link_to t("search.advanced") %>
<% end %>
</div>