.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.917969;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.919434;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.939276;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.727000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.934082;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.lsc{letter-spacing:-0.014400px;}
.lsb{letter-spacing:-0.009600px;}
.ls12{letter-spacing:-0.004800px;}
.ls1{letter-spacing:0.000000px;}
.lsa{letter-spacing:0.004800px;}
.lsd{letter-spacing:0.009600px;}
.ls9{letter-spacing:0.019200px;}
.ls11{letter-spacing:0.161568px;}
.lsf{letter-spacing:0.183744px;}
.ls7{letter-spacing:0.188000px;}
.ls8{letter-spacing:0.189312px;}
.ls10{letter-spacing:0.190080px;}
.ls6{letter-spacing:0.194880px;}
.ls4{letter-spacing:0.200448px;}
.ls0{letter-spacing:0.222720px;}
.ls2{letter-spacing:0.233856px;}
.ls3{letter-spacing:0.239424px;}
.lse{letter-spacing:0.275616px;}
.ls5{letter-spacing:0.317376px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.ws3{word-spacing:34.652000px;}
.ws2{word-spacing:35.612000px;}
.ws1{word-spacing:53.248000px;}
._4{margin-left:-53.248000px;}
._5{margin-left:-35.612000px;}
._0{margin-left:-1.080192px;}
._6{width:13.344000px;}
._2{width:42.820000px;}
._1{width:58.831488px;}
._3{width:69.350400px;}
.fc1{color:rgb(218,218,218);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:24.000000px;}
.fs3{font-size:31.680000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:55.680000px;}
.fs5{font-size:56.000000px;}
.fs1{font-size:80.000000px;}
.y48{bottom:-7.281200px;}
.y2f{bottom:1.678360px;}
.y2b{bottom:1.679800px;}
.y52{bottom:2.290500px;}
.y54{bottom:2.291000px;}
.y17{bottom:2.639800px;}
.y55{bottom:2.698000px;}
.y14{bottom:2.879800px;}
.y12{bottom:3.599800px;}
.y47{bottom:6.638800px;}
.y4c{bottom:6.656000px;}
.y4a{bottom:6.657000px;}
.y2d{bottom:6.719800px;}
.y5{bottom:6.959800px;}
.y4e{bottom:7.064000px;}
.y9{bottom:7.439800px;}
.yb{bottom:7.679800px;}
.y37{bottom:8.399800px;}
.y35{bottom:8.639800px;}
.y2e{bottom:11.039800px;}
.y46{bottom:18.479800px;}
.y43{bottom:23.999800px;}
.y3a{bottom:24.239800px;}
.y1{bottom:40.507000px;}
.y44{bottom:51.518800px;}
.y0{bottom:58.500000px;}
.y45{bottom:58.906000px;}
.y42{bottom:104.746000px;}
.y41{bottom:120.346000px;}
.y40{bottom:134.746000px;}
.y3f{bottom:149.386000px;}
.y3e{bottom:164.986000px;}
.y3d{bottom:180.586000px;}
.y3c{bottom:195.226000px;}
.y3b{bottom:209.626000px;}
.y39{bottom:225.226000px;}
.y38{bottom:240.826000px;}
.y36{bottom:255.466000px;}
.y34{bottom:269.866000px;}
.y33{bottom:285.466000px;}
.y32{bottom:301.066000px;}
.y31{bottom:315.706000px;}
.y30{bottom:330.346000px;}
.y53{bottom:330.654000px;}
.y51{bottom:331.469000px;}
.y2c{bottom:344.746000px;}
.y2a{bottom:365.146000px;}
.y29{bottom:375.946000px;}
.y28{bottom:390.586000px;}
.y27{bottom:404.986000px;}
.y26{bottom:419.626000px;}
.y25{bottom:434.266000px;}
.y24{bottom:448.906000px;}
.y23{bottom:463.306000px;}
.y22{bottom:477.946000px;}
.y21{bottom:492.586000px;}
.y20{bottom:506.986000px;}
.y1f{bottom:521.626000px;}
.y1e{bottom:536.266000px;}
.y1d{bottom:550.666000px;}
.y1c{bottom:565.306000px;}
.y1b{bottom:579.946000px;}
.y1a{bottom:594.586000px;}
.y19{bottom:608.986000px;}
.y18{bottom:623.626000px;}
.y16{bottom:638.266000px;}
.y15{bottom:652.666000px;}
.y10{bottom:661.118800px;}
.y13{bottom:667.306000px;}
.y11{bottom:681.946000px;}
.y6{bottom:705.278800px;}
.y8{bottom:715.306000px;}
.y4d{bottom:715.510000px;}
.y50{bottom:715.582000px;}
.y4f{bottom:715.953000px;}
.y4b{bottom:716.139000px;}
.y49{bottom:716.530000px;}
.yd{bottom:719.864000px;}
.ye{bottom:719.879000px;}
.yc{bottom:721.639000px;}
.yf{bottom:722.531000px;}
.ya{bottom:722.745800px;}
.y7{bottom:722.746000px;}
.y3{bottom:749.924560px;}
.y4{bottom:761.146000px;}
.y2{bottom:766.238800px;}
.hf{height:9.360000px;}
.h1a{height:13.485000px;}
.h1c{height:13.486000px;}
.he{height:13.920000px;}
.hd{height:14.160000px;}
.h1d{height:14.300000px;}
.hb{height:15.600000px;}
.h13{height:16.828125px;}
.h11{height:18.720000px;}
.h10{height:22.213125px;}
.h18{height:23.700000px;}
.h16{height:23.701000px;}
.h5{height:23.760000px;}
.h19{height:24.515000px;}
.h8{height:24.960000px;}
.h15{height:29.520000px;}
.h14{height:29.760000px;}
.h12{height:33.562500px;}
.ha{height:33.656250px;}
.h3{height:38.932500px;}
.h4{height:39.041250px;}
.h7{height:39.644160px;}
.hc{height:39.750000px;}
.h6{height:46.110000px;}
.h1b{height:49.898438px;}
.h9{height:57.578125px;}
.h17{height:58.214844px;}
.h1{height:776.000000px;}
.h2{height:792.879000px;}
.h0{height:841.889800px;}
.w5{width:12.000000px;}
.wd{width:18.480000px;}
.w1e{width:18.558000px;}
.w1d{width:18.559000px;}
.wa{width:18.720000px;}
.w9{width:19.200000px;}
.w8{width:19.440000px;}
.w10{width:19.680000px;}
.w17{width:19.920000px;}
.w1f{width:20.325000px;}
.w20{width:20.326000px;}
.w21{width:52.722000px;}
.w1a{width:53.280000px;}
.w14{width:53.760000px;}
.w15{width:54.000000px;}
.w23{width:54.351000px;}
.w22{width:55.165000px;}
.wb{width:75.840000px;}
.w6{width:82.800000px;}
.w3{width:88.320000px;}
.w1b{width:107.760000px;}
.w7{width:146.880000px;}
.w19{width:161.520000px;}
.w11{width:162.000000px;}
.wf{width:162.480000px;}
.w18{width:162.960000px;}
.we{width:163.200000px;}
.w16{width:163.680000px;}
.wc{width:182.160000px;}
.w13{width:182.640000px;}
.w4{width:210.480000px;}
.w1c{width:309.600000px;}
.w12{width:551.040000px;}
.w1{width:555.500000px;}
.w2{width:577.247000px;}
.w0{width:595.275600px;}
.x4{left:4.320200px;}
.x20{left:5.389000px;}
.x1{left:9.014000px;}
.x1e{left:10.209600px;}
.x1b{left:17.904760px;}
.x0{left:19.500000px;}
.x2b{left:20.910000px;}
.x3{left:23.894000px;}
.x9{left:28.214000px;}
.x18{left:42.614000px;}
.x5{left:114.374000px;}
.x1f{left:122.767000px;}
.x21{left:143.940000px;}
.x22{left:162.758000px;}
.xa{left:183.734000px;}
.x2{left:198.525100px;}
.xb{left:204.134000px;}
.x16{left:207.254000px;}
.xc{left:224.534000px;}
.x19{left:226.934000px;}
.x23{left:245.782000px;}
.xd{left:252.470400px;}
.x24{left:265.389000px;}
.xe{left:285.734000px;}
.xf{left:306.134000px;}
.x6{left:327.014000px;}
.x7{left:341.174000px;}
.x17{left:391.094000px;}
.x1a{left:411.254000px;}
.x10{left:418.502000px;}
.x11{left:424.059000px;}
.x8{left:426.134000px;}
.x25{left:436.674000px;}
.x12{left:451.861000px;}
.x1c{left:465.494000px;}
.x26{left:476.134000px;}
.x13{left:478.424000px;}
.x27{left:496.307000px;}
.x14{left:515.078000px;}
.x1d{left:519.974000px;}
.x2a{left:521.366000px;}
.x28{left:534.767000px;}
.x15{left:538.389000px;}
.x29{left:555.125000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.lsc{letter-spacing:-0.019200pt;}
.lsb{letter-spacing:-0.012800pt;}
.ls12{letter-spacing:-0.006400pt;}
.ls1{letter-spacing:0.000000pt;}
.lsa{letter-spacing:0.006400pt;}
.lsd{letter-spacing:0.012800pt;}
.ls9{letter-spacing:0.025600pt;}
.ls11{letter-spacing:0.215424pt;}
.lsf{letter-spacing:0.244992pt;}
.ls7{letter-spacing:0.250667pt;}
.ls8{letter-spacing:0.252416pt;}
.ls10{letter-spacing:0.253440pt;}
.ls6{letter-spacing:0.259840pt;}
.ls4{letter-spacing:0.267264pt;}
.ls0{letter-spacing:0.296960pt;}
.ls2{letter-spacing:0.311808pt;}
.ls3{letter-spacing:0.319232pt;}
.lse{letter-spacing:0.367488pt;}
.ls5{letter-spacing:0.423168pt;}
.ws0{word-spacing:0.000000pt;}
.ws3{word-spacing:46.202667pt;}
.ws2{word-spacing:47.482667pt;}
.ws1{word-spacing:70.997333pt;}
._4{margin-left:-70.997333pt;}
._5{margin-left:-47.482667pt;}
._0{margin-left:-1.440256pt;}
._6{width:17.792000pt;}
._2{width:57.093333pt;}
._1{width:78.441984pt;}
._3{width:92.467200pt;}
.fs4{font-size:32.000000pt;}
.fs3{font-size:42.240000pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:74.240000pt;}
.fs5{font-size:74.666667pt;}
.fs1{font-size:106.666667pt;}
.y48{bottom:-9.708267pt;}
.y2f{bottom:2.237813pt;}
.y2b{bottom:2.239733pt;}
.y52{bottom:3.054000pt;}
.y54{bottom:3.054667pt;}
.y17{bottom:3.519733pt;}
.y55{bottom:3.597333pt;}
.y14{bottom:3.839733pt;}
.y12{bottom:4.799733pt;}
.y47{bottom:8.851733pt;}
.y4c{bottom:8.874667pt;}
.y4a{bottom:8.876000pt;}
.y2d{bottom:8.959733pt;}
.y5{bottom:9.279733pt;}
.y4e{bottom:9.418667pt;}
.y9{bottom:9.919733pt;}
.yb{bottom:10.239733pt;}
.y37{bottom:11.199733pt;}
.y35{bottom:11.519733pt;}
.y2e{bottom:14.719733pt;}
.y46{bottom:24.639733pt;}
.y43{bottom:31.999733pt;}
.y3a{bottom:32.319733pt;}
.y1{bottom:54.009333pt;}
.y44{bottom:68.691733pt;}
.y0{bottom:78.000000pt;}
.y45{bottom:78.541333pt;}
.y42{bottom:139.661333pt;}
.y41{bottom:160.461333pt;}
.y40{bottom:179.661333pt;}
.y3f{bottom:199.181333pt;}
.y3e{bottom:219.981333pt;}
.y3d{bottom:240.781333pt;}
.y3c{bottom:260.301333pt;}
.y3b{bottom:279.501333pt;}
.y39{bottom:300.301333pt;}
.y38{bottom:321.101333pt;}
.y36{bottom:340.621333pt;}
.y34{bottom:359.821333pt;}
.y33{bottom:380.621333pt;}
.y32{bottom:401.421333pt;}
.y31{bottom:420.941333pt;}
.y30{bottom:440.461333pt;}
.y53{bottom:440.872000pt;}
.y51{bottom:441.958667pt;}
.y2c{bottom:459.661333pt;}
.y2a{bottom:486.861333pt;}
.y29{bottom:501.261333pt;}
.y28{bottom:520.781333pt;}
.y27{bottom:539.981333pt;}
.y26{bottom:559.501333pt;}
.y25{bottom:579.021333pt;}
.y24{bottom:598.541333pt;}
.y23{bottom:617.741333pt;}
.y22{bottom:637.261333pt;}
.y21{bottom:656.781333pt;}
.y20{bottom:675.981333pt;}
.y1f{bottom:695.501333pt;}
.y1e{bottom:715.021333pt;}
.y1d{bottom:734.221333pt;}
.y1c{bottom:753.741333pt;}
.y1b{bottom:773.261333pt;}
.y1a{bottom:792.781333pt;}
.y19{bottom:811.981333pt;}
.y18{bottom:831.501333pt;}
.y16{bottom:851.021333pt;}
.y15{bottom:870.221333pt;}
.y10{bottom:881.491733pt;}
.y13{bottom:889.741333pt;}
.y11{bottom:909.261333pt;}
.y6{bottom:940.371733pt;}
.y8{bottom:953.741333pt;}
.y4d{bottom:954.013333pt;}
.y50{bottom:954.109333pt;}
.y4f{bottom:954.604000pt;}
.y4b{bottom:954.852000pt;}
.y49{bottom:955.373333pt;}
.yd{bottom:959.818667pt;}
.ye{bottom:959.838667pt;}
.yc{bottom:962.185333pt;}
.yf{bottom:963.374667pt;}
.ya{bottom:963.661067pt;}
.y7{bottom:963.661333pt;}
.y3{bottom:999.899413pt;}
.y4{bottom:1014.861333pt;}
.y2{bottom:1021.651733pt;}
.hf{height:12.480000pt;}
.h1a{height:17.980000pt;}
.h1c{height:17.981333pt;}
.he{height:18.560000pt;}
.hd{height:18.880000pt;}
.h1d{height:19.066667pt;}
.hb{height:20.800000pt;}
.h13{height:22.437500pt;}
.h11{height:24.960000pt;}
.h10{height:29.617500pt;}
.h18{height:31.600000pt;}
.h16{height:31.601333pt;}
.h5{height:31.680000pt;}
.h19{height:32.686667pt;}
.h8{height:33.280000pt;}
.h15{height:39.360000pt;}
.h14{height:39.680000pt;}
.h12{height:44.750000pt;}
.ha{height:44.875000pt;}
.h3{height:51.910000pt;}
.h4{height:52.055000pt;}
.h7{height:52.858880pt;}
.hc{height:53.000000pt;}
.h6{height:61.480000pt;}
.h1b{height:66.531250pt;}
.h9{height:76.770833pt;}
.h17{height:77.619792pt;}
.h1{height:1034.666667pt;}
.h2{height:1057.172000pt;}
.h0{height:1122.519733pt;}
.w5{width:16.000000pt;}
.wd{width:24.640000pt;}
.w1e{width:24.744000pt;}
.w1d{width:24.745333pt;}
.wa{width:24.960000pt;}
.w9{width:25.600000pt;}
.w8{width:25.920000pt;}
.w10{width:26.240000pt;}
.w17{width:26.560000pt;}
.w1f{width:27.100000pt;}
.w20{width:27.101333pt;}
.w21{width:70.296000pt;}
.w1a{width:71.040000pt;}
.w14{width:71.680000pt;}
.w15{width:72.000000pt;}
.w23{width:72.468000pt;}
.w22{width:73.553333pt;}
.wb{width:101.120000pt;}
.w6{width:110.400000pt;}
.w3{width:117.760000pt;}
.w1b{width:143.680000pt;}
.w7{width:195.840000pt;}
.w19{width:215.360000pt;}
.w11{width:216.000000pt;}
.wf{width:216.640000pt;}
.w18{width:217.280000pt;}
.we{width:217.600000pt;}
.w16{width:218.240000pt;}
.wc{width:242.880000pt;}
.w13{width:243.520000pt;}
.w4{width:280.640000pt;}
.w1c{width:412.800000pt;}
.w12{width:734.720000pt;}
.w1{width:740.666667pt;}
.w2{width:769.662667pt;}
.w0{width:793.700800pt;}
.x4{left:5.760267pt;}
.x20{left:7.185333pt;}
.x1{left:12.018667pt;}
.x1e{left:13.612800pt;}
.x1b{left:23.873013pt;}
.x0{left:26.000000pt;}
.x2b{left:27.880000pt;}
.x3{left:31.858667pt;}
.x9{left:37.618667pt;}
.x18{left:56.818667pt;}
.x5{left:152.498667pt;}
.x1f{left:163.689333pt;}
.x21{left:191.920000pt;}
.x22{left:217.010667pt;}
.xa{left:244.978667pt;}
.x2{left:264.700133pt;}
.xb{left:272.178667pt;}
.x16{left:276.338667pt;}
.xc{left:299.378667pt;}
.x19{left:302.578667pt;}
.x23{left:327.709333pt;}
.xd{left:336.627200pt;}
.x24{left:353.852000pt;}
.xe{left:380.978667pt;}
.xf{left:408.178667pt;}
.x6{left:436.018667pt;}
.x7{left:454.898667pt;}
.x17{left:521.458667pt;}
.x1a{left:548.338667pt;}
.x10{left:558.002667pt;}
.x11{left:565.412000pt;}
.x8{left:568.178667pt;}
.x25{left:582.232000pt;}
.x12{left:602.481333pt;}
.x1c{left:620.658667pt;}
.x26{left:634.845333pt;}
.x13{left:637.898667pt;}
.x27{left:661.742667pt;}
.x14{left:686.770667pt;}
.x1d{left:693.298667pt;}
.x2a{left:695.154667pt;}
.x28{left:713.022667pt;}
.x15{left:717.852000pt;}
.x29{left:740.166667pt;}
}
