<% name ||= 'post[content]' %>
<% content ||= nil %>
<!-- 文本框name的值，看不明白的话不用更改，指定文本框name的时候直接调用name即可 -->

<div class="editor_lite">
  <%= text_area_tag name, content, :id => :fastpostmessage, :rows => 5, :cols => 80,  :tabindex => 4, :class => :txtarea %>
  <!--id和class直接对应于HTML码，从DZ的主题上遗留下来的，应该修改-->
</div>
<script type="text/javascript">
$(document).ready(function()	{
	$('#fastpostmessage').markItUp(mySettings);
});
</script>