<div style='clear:both;'></div>
<div style='line-height:25px; padding-top:3px; font-weight:bold; ' align='center'>

  <!--名次-->
  <div style='width:90px; float:left; color:#d6edff'>
    <%= index.next %>
  </div>
  <!--名字-->
  <div style='width:200px; float:left; color:#ffe793;' align='left'>
    <%= link_to user.name, user, :style => 'color:#ffe793; text-decoration:none' %>
  </div>
  <!--积分-->
  <div style='width:100px; float:left; color:#ff6468'>
    <%= user.credits %>
  </div>
  <!--胜率-->
  <div style='width:40px; float:left; color:#58db3e' align='left'>
    
  </div>
  <!--胜场-->
  <div style='width:30px; float:left; color:red' align='right'>
    
  </div>
  <!--负场-->
  <div style='width:30px; float:left; color:blue' align='right'>
    
  </div>
  <!--详情-->
  <div style='width:100px; float:left; color:#dfc84b; font-weight:100; cursor:pointer' >
    , :style=>'color:#ffe793; text-decoration:none' %>
  </div>
</div>
