.team-clean {
  color:#313437;
  background-color:#fff;
  margin-top:50px;
}

.team-clean p {
  color:#7d8285;
}

.team-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
  font-size:30px;
}

@media (max-width:767px) {
  .team-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-clean .intro p {
  margin-bottom:0;
  margin-bottom:20px;
}

.team-clean .people {
  padding-bottom:40px;
}

.team-clean .item1 {
  text-align:center;
  padding-top:50px;
}

.team-clean .item1 .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-clean .item1 .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-clean .item1 .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-clean .item1 img {
  max-width:160px;
}

.team-clean .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-clean .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-clean .social a:hover {
  opacity:1;
}

