#profile {
  text-align:center;
}

#logo {
  max-height:42px;
  margin-right:10px;
  margin-top:-8px;
  display:inline-block;
}

div.jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.5);
  max-width:800px;
  margin:0 auto;
}

body {
  font-family:Arial,Helvetica,sans-serif;
  /*font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;*/
}

.site-section {
  text-align:center;
  padding-bottom:70px;
}

.site-section h1 {
  font-weight:normal;
  margin-bottom:30px;
  margin-top:60px;
}

#why .item i {
  font-size:40px;
  color:rgb(245,145,30);
}

#welcome p {
  max-width:800px;
  font-size:20px;
  margin:0 auto;
  color:#666;
}

#why .item h2 {
  font-weight:normal;
  margin-top:13px;
  margin-bottom:20px;
  font-size:20px;
}

.dark-section {
  background-color:#e6effc;
}

#head-portrait {
  max-height:23px;
  margin-right:4px;
  margin-top:-3px;
  display:inline-block;
}

#ranking-content {
  margin-top:-35px;
}

#search-form {
  margin-bottom:4px;
}

.search-condition {
  display:inline-block;
  margin-right:30px;
}

#check-boxes {
  text-align:center;
}

.content {
  margin-top:85px;
}

.table td {
  width:15%;
}


