/*ul.menu {list-style:none; margin:0; padding:0}
ul.menu li {position:relative; float:left; margin-right:2px}
ul.menu ul {position:absolute; top:46px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#d1d1d1}
ul.menu ul li a:hover {background-color:#c5c5c5}
ul.menu ul ul {left:148px; top:-1px}
ul.menu .sub {background:#d1d1d1 image-url("dropdown/arrow.gif") 136px 8px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}*/

ul.menu{
	list-style:none; margin:0; padding:0;
	li{
		position:relative; float:left;height:50px;border-right:1px solid rgba(255, 255, 255, 0.15);
		&:hover{background:rgba(38,60,123,0.9);}
		&:first-child{border-left:1px solid rgba(255, 255, 255, 0.15)}
	}
	ul{
		position:absolute; top:50px; left:0; background-color:rgb(38, 60, 123); display:none; opacity:0; list-style:none;
		li{
			position:relative;  border-top:none; width:148px; margin:0;display:block; padding:3px 7px 5px; height:20px;
				
			a{}
		}
		ul{left:148px; top:-1px;}
	}
	.sub{background:#d1d1d1 image-url("dropdown/arrow.gif") 136px 8px no-repeat;}
	.topline {border-top:1px solid #aaa}
}