<div id="footer">
  <div class="footerc">
    <div style="margin: 0 auto; width: 160px; padding-top: 5px; text-align: center;">
      <a href="javascript:;" onclick="scrollTo(0,0);">TOP</a>
    </div>
    <div id="footlink">
      <div style="width: 500px; height: 58px; float: left;">
        <ul class="fmenu">
          <li style="width: 100px;"><%= link_to '66RPG 实验室', 'http://lab.66rpg.com' %></li>
        </ul>
        <div style="height: 16px; clear: both;">Powered by <%= link_to 'Reliz Project', 'http://lab.66rpg.com' %></div>
      </div>
      <div class="bhoge">Powered by:</div>
      <div class="bw3c">Validated by:</div>
      <div class="bexa">CSS Modify By:</div></div>
  </div>
</div>