<ul>
<li class="menu_1"><%=link_to t('navi.forum'), :root, :hidefocus => true, :id => :mn_index %></li>
</ul>
  
  
  
<!--<script type="text/javascript">
var currentMenu = $('mn_index') ? $('mn_index') : $('mn_index');
currentMenu.parentNode.className = 'current';
</script>-->