                <label>
                  <input name="textfield" type="text" value="ÕˆÝ”ÈëËÑË÷ƒÈÈÝ " />
                </label>
                <input type="submit" name="Submit" value="ËÑË÷" />
                <input type="submit" name="Submit2" value="¸ß¼‰ËÑË÷" />