                <label>
                  <input name="textfield" type="text" value="请输入搜索内容" />
                </label>
                <input type="submit" name="Submit" value="搜索" />
                <input type="submit" name="Submit2" value="高级搜索" />