<div class="footerc">
<div style="margin: 0 auto; width: 160px; padding-top: 5px; text-align: center;">
<a href="javascript:;" onclick="scrollTo(0,0);">TOP</a>
</div>
<div id="footlink">
<div style="width: 500px; height: 58px; float: left;">
<ul class="fmenu">
<li style="width: 100px;"><a href="http://www.touhou.cc/bbs" target="_blank">东方幻想乡</a></li>
<li style="width: 130px;">( <a href="http://www.miibeian.gov.cn/" target="_blank">渝ICP备09028990号</a>)</li><li><a href="mailto:175779871@qq.com">联系我们</a></li>
<li><a href="stats.php">论坛统计</a></li><li><a href="archiver/" target="_blank">Archiver</a></li><li><a href="wap/" target="_blank">WAP</a></li><li></li>

</ul>


<div style="height: 16px; clear: both;">Copyright &copy; 2008-2009 <a href="http://www.touhou.cc/bbs" target="_blank">东方幻想乡</a></strong>. All Rights Reserved. Themes <a href="http://bbs.7dps.com/forum-29-1.html" target="_blank">Goodnight</a> For discuz! 7.2<br />CSS Modify By <a href="http://www.touhou.cc/bbs/?fromuid=6" target="_blank">菠萝包</a><span id="debuginfo">Processed in 0.025061 second(s), 6 queries</span>.</div>
</div>

<div class="bhoge">Powered by:</div>
<div class="bw3c">Validated by:</div>
<div class="bexa">CSS Modify By:</div></div>
</div>
</div>