<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title> <%= @site.name %> - <%= @actions.last.respond_to?(:name) ? @actions.last.name : @actions.last %> </title>
    <%#= render 'layouts/header' %>
<%# ApplicationHelper::addon_header.each { |s| %>
    <%#= render 'layouts/'+s %>
<%# } %>
  </head>
  <body>
    <%#= render 'layouts/top' %>
<%# ApplicationHelper::addon_top.each { |s| %>
    <%#= render 'layouts/'+s %>
<%# } %>
    <%= yield %>
    <%#= render 'layouts/footer' %>
<%# ApplicationHelper::addon_footer.each { |s| %>
    <%#= render 'layouts/'+s %>
<%# } %>
  </body>
</html>
